{% extends 'base.html' %}


{% block content %}




<div class="container">
  <div class="row">
    {% if all_images%}
    {% else %}
      <h2> Found 0 images for the search term {{message}}</h2>
    {% endif %}
  </div>

  <div class="masonry">
    {% for image in all_images %}
    <div class="item">
      <img class="img-fluid rounded" src="{{image.image_path.url}}" alt="">
      <!-- <h6 class="clrd-font" >{{image.image_name}}</h6> -->
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
